@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inicio</h1>
    <p>Aqui creas lo que te parezca conveniente xd seria el menu o las cositas de la cafeteria</a>.</p>
</div>
